BasedOnStyle: Microsoft

AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Attach
PackConstructorInitializers: Never
